@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    padding: 0;
    font-family: 'poppins', sans-serif;
    font-style: normal;
}

body {
    background: #e5e5e5;
}

header {
height: 72px;
width: 375px;
padding-left: 24px;
background: #fff;
}

nav {
display: flex;
flex-direction: row;
}

header nav .logo {
margin: 26px 223px 26px 0;
font-weight: 700;
font-size: 18px;
line-height: 20px;
align-self: center;
color: #6070ff;
white-space: nowrap;
}

header nav div .menu-bar {
width: 18px;
height: 12px;
color: #6070ff;
margin-top: 26px;
font-size: 24px;
margin-right: 35px;
}

.introduction {
width: 375px;
height: 600px;
background: #fff;
padding-top: 12px;
background-image: url(.images/header-shapes\ mobile.png);
background-size: cover;
background-repeat: no-repeat;
padding-left: 24px;
}

.introduction .title {
margin-top: 102px;
padding-bottom: 0;
margin-bottom: 12px;
font-weight: 700;
font-size: 40px;
width: 327px;
height: 150px;
line-height: 52px;
font-weight: 700;
display: flex;
align-items: center;
color: #172b4d;
flex: none;
order: 0;
flex-grow: 0;
white-space: pre-line;
padding-right: 24px;
}


.introduction .description {
  padding-bottom: 0;
  margin-bottom: 12px;
  height: 146px;
  width: 327px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  align-items: center;
  padding-right: 24px;
  white-space: pre-line;
}

.introduction .social {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.introduction .social-links {
  display: flex;
  padding-top: 0;
  margin-top: 12px;
  margin-right: 180.83px;
  padding-right: 0;
  flex-direction: row;
  align-items: flex-start;
  flex: none;
  order: 3;
  flex-grow: 0;
  list-style: none;
  padding-top: 0;
  margin-top: 12px;
}

.social-links li a .li1 {
  width: 19px;
  height: 19px;
  padding-right: 19px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #505f79;
  font-weight: bold;
}

.social-links li a .li2 {
  width: 20px;
  height: 20px;
  padding-right: 19px;
  flex: none;
  order: 1;
  flex-grow: 0;
  color: #505f79;
  font-weight: bold;
}

.social-links li a .li3 {
  color: #505f79;
  width: 20px;
  height: 16px;
  padding-right: 19px;
  flex: none;
  order: 2;
  flex-grow: 0;
  font-weight: bold;
}

.social-links li a .li4 {
  width: 17.99px;
  height: 20px;
  padding-right: 19px;
  flex: none;
  order: 3;
  flex-grow: 0;
  color: #505f79;
  font-weight: bold;
}

.social-links li a .li5 {
  width: 14.17px;
  height: 20px;
  padding-right: 0;
  flex: none;
  order: 4;
  flex-grow: 0;
  color: #505f79;
  font-weight: bold;
}

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 552px;
  width: 327px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 114px;
}

.right-block {
  height: 220px;
  width: 295px;
  padding: 16px 16px 12px 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: none;
  order: 1;
  flex-grow: 0;
  padding-top: 0;
  margin-top: 0;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 0;
  height: 80px;
}

.section-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 0;
  padding-top: 0;
  width: 295px;
  height: 36px;
  white-space: nowrap;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 12px;
  width: 236px;
  height: 32px;
  margin-top: 0;
  white-space: nowrap;
}

.list1 {
  list-style-type: none;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  margin-right: 12px;
}

.list2 {
  flex: none;
  order: 0;
  flex-grow: 0;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.list3 {
  margin-left: 12px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  margin-top: 8px;
  margin-bottom: 8px;
}

.section-description {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  padding-top: 12px;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: none;
  order: 2;
  flex-grow: 0;
  padding-top: 12px;
}

.li11 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  margin-right: 8px;
}

.li22 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  margin-right: 8px;
}

.li33 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.action {
  flex: none;
  order: 3;
  flex-grow: 0;
  width: 295px;
  height: 72px;
}

.btn {
  padding: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  background: #fff;
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 596px;
  width: 327px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 114px;
}

.experience1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 0;
  height: 124px;
}

.section-title1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 0;
  padding-top: 0;
  width: 295px;
  height: 80px;
  white-space: pre-line;
}

.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 552px;
  width: 327px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 114px;
}

.section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 596px;
  width: 327px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 114px;
}